<a routerLink="/product">+ Add New Product +</a>

<h1>Products</h1>
<table>
  <th>ID</th>
  <th>Name</th>
  <th>Color</th>
  <th></th>
  <th></th>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.color}}</td>
    <td (click) = "deleteProduct(product.id)"><a>DELETE</a></td>
    <td [routerLink] = "['/updateProduct', product.id]"><a>UPDATE</a></td>
  </tr>
</table>

<!-- ngStyle -->
<div class="" *ngFor="let s of servers">
  <p 
  [ngStyle]="{backgroundColor: getColor(s.serverc)}"
  [ngClass]="{online: getServerStatus(s.serverc) === 'online'}"
  > 
Server : {{s.servername}}, ID : {{s.serverid}}, Status : {{getServerStatus(s.serverc)}}</p>
</div>
