<div class="jumbotron text-center">
	<h1>MEAN Authentication App</h1>
	<p class="lead">Welcome to custom MEAN Auth WebSite built with Angular 4</p>
	<div>
		<a class="btn btn-primary" [routerLink]="['/register']">Register</a>
		<a class="btn btn-success" [routerLink]="['/login']">Login</a>
	</div>
</div>

<div class="row ">
	<div class="col-md-4 bg-light">
		<h3>Express Backend</h3>
		<p>Express is a minimal and flexible node.js web application framework, providing a robust set of features for building single and multi-page, and hybrid web applications.</p>
	</div>
	<div class="col-md-4 bg-default">
		<h3>Angular-CLI</h3>
		<p>The Angular CLI makes it easy to create an application that already works, right out of the box. It already follows our best practices! Generate components, routes, services and pipes with a simple command. The CLI will also create simple test shells for all of these.</p>
	</div>
	<div class="col-md-4 bg-light">
		<h3>JWT Tokens</h3>
		<p>JSON Web Token (JWT) is an open standard (RFC 7519) that defines a compact and self-contained way for securely transmitting information between parties as a JSON object. This information can be verified and trusted because it is digitally signed. JWTs can be signed using a secret (with the HMAC algorithm) or a public/private key pair using RSA.</p>
	</div>
</div>
