<div class="container" *ngIf="user">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-6 col-md-4"></div>
                    <div class="col-sm-6 col-md-8">
                        <h4>{{user.name}}</h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{user.email}}
                            <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
