<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Express App</title>
    <!--link href= "/assets/style.css" rel="stylesheet" type="text/css"-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </head>
  <body>
