<!--The content below is only a placeholder and can be replaced.-->

<div class="main">
  <h1>Item's List</h1>
  <div class="addItem">
    <input [(ngModel)] = "newItem" placeholder="Add Item" class="addText">
    <button (click) = "pushItem()">Add</button>
  </div>
  <ul>
    <li *ngFor = "let i of items; let indx = index">
      {{i}}<span (click) = "removeItem(indx)">x</span></li>
  </ul>
</div>

<!-- Pipe -->
<div class="pipe">
  {{name}} // {{name | lowercase}} // {{name | uppercase}} <br>
  {{day}} // {{day | date :'shortDate'}} // {{day | date :'fullDate'}} <br>
  {{day | date :'fullDate' | uppercase}} <br>
  {{arr | sort: 'ascending'}} //<!-- {{arr | sort: 'descending'}}--> <br>
  <!--{{items | sort: 'ascending'}} // -->{{items | sort: 'descending'}} <br>
</div><br>

<!-- //Template Driven forms -->
<form class="container" #userForm = "ngForm" (ngSubmit) = "onSubmit(userForm.value)">
  <input type="text" name="firstname" placeholder="First Name" ngModel><br>
  <input type="text" name="lastname" placeholder="Last Name" ngModel><br>
  <select class="" name="languages" ngModel>
    <option value="java">Java</option>
    <option value="c++">C++</option>
    <option value="python">Python</option>
  </select> <br>
  <input type="submit" value="Submit"><br><br>
</form>

<!-- //Model Driven forms -->
<form class="container" [formGroup] = "form" (ngSubmit) = "onSubmit(form.value)">
  <input type="text" name="firstname" placeholder="First Name" formControlName = "firstname"><br>
  <input type="text" name="lastname" placeholder="Last Name" formControlName = "lastname"><br>
  <select class="" name="languages" formControlName = "languages">
    <option value="java">Java</option>
    <option value="c++">C++</option>
    <option value="python">Python</option>
  </select> <br>
  <input type="submit" [disabled]="!form.valid" value="Submit">
</form>

<!-- //Converter Form App -->
<form class="container" [formGroup] = "formCon">
  <h1>Base Converter</h1>
  <input type="text" name="decimal" (ngModelChange)="decimalChanged(oldValue, newValue = $event)" placeholder="decimal" formControlName="decimal" 
    oninput="this.value = this.value.replace(/[^0-9]/g, '');" ><br>
  <input type="text" name="binary" (ngModelChange)="binaryChanged(newValue = $event)" placeholder="binary" formControlName="binary" 
    oninput="this.value = this.value.replace(/[^0-1]/g, '');" ><br>
  <input type="text" name="octal" (ngModelChange)="octalChanged(newValue = $event)" placeholder="octal" formControlName="octal"
    oninput="this.value = this.value.replace(/[^0-7]/g, '');" ><br>
  <input type="text" name="hexa" (ngModelChange)="hexalChanged(newValue = $event)" placeholder="hexa" formControlName="hexa"
    oninput="this.value = this.value.replace(/[^0-1 a-f A-F]/g, '');" ><br>
</form>

<!-- // Services -->
<app-product></app-product>


<!-- //Animations -->
<div blueColor>
  <button (click)="animate()">Click Me</button>
  <p [@my-animation]= "state">Look Me</p>
</div>



<!-- Data binding
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

{{obj.name}}

<ul>
  <li *ngFor = "let i of arr">{{i}}</li>
</ul>
<ul>
  <li *ngFor = "let itm of arr; let i = index">{{i}} - {{itm}}</li>
</ul>
//index -> first, even, odd //
<p *ngIf = "isTrue; else elsTemplate">Hello {{isTrue}}</p>
<p *ngIf = "title == 'app' && isTrue">Title is : <{{title}}></p>

<p *ngIf = "str =='tan'; then ifTemplate else elsTemplate">Hello</p>
<ng-template #ifTemplate>This is the if statement template</ng-template>
<ng-template #elsTemplate>This is the else statement template</ng-template>
<p *ngIf = "3 % 2; let randomVariable;">3 % 2 is : {{randomVariable}}</p>
Data binding -->


<!-- router
<a routerLink="/member">Member</a>
<a routerLink="/product">Product</a>
<br>

<router-outlet></router-outlet>
router -->
